<hr />
<div class="booyah-box col-xs-6 col-xs-offset-1">
	<%= @deals.each do |deal| %>
		<div>
			<h1><%= deal.sale %></h1><br/>
			<i><%= deal.address %></i><br />
			<p><%= deal.description %></p><br />
		</div>	
		<hr />
	<% end %>
</div>

 