<br />
<br class="clear" />
	<div class="container-box col-xs-6 col-xs-offset-1">	
			<%= link_to 'I/O DEAL', new_deal_path(@deal), :class => 'btn-xl btn-danger center' %>
	<br />		
	<br />
	<br />	
	
		<h2>Recent Deal i/o</h2>
		<br />
	</div>	
<% @deals.each do |deal| %>

		<div class="booyah-box col-xs-8 col-xs-offset-1">		
				
					<h1><%= deal.sale %></h1><br/>
					<i><%= deal.address %></i><br />
					<p><%= deal.description %></p><br />
					
				
		</div>
	<% end %>

<br class="clear" />
