<br />
<br class="clear" />

	<div class="container">
		<div class="booyah-box col-xs-12 text-center">
		    <%= link_to 'DEAL ME', new_deal_path(@deal), :class => 'btn-xl btn-warning' %></div>
	</div>



	<% @deals.each do |deal| %>
		<div class="booyah-box col-xs-12">		
				
					<h1><%= deal.sale %></h1><br/>
					<i><%= deal.address %></i><br />
					<p><%= deal.description %></p><br />
					
				
		</div>
	<% end %>

<br class="clear" />
